.datatable{
    height: 600px;
    padding: 20px;

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
    }

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted darkblue;
            cursor: pointer;
        }
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted darkred;
            cursor: pointer;
        }
}